@using MVC.Models.Entities

@{
    ViewData["Title"] = "Registered Users";
}

@model List<User>;

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.SecondName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <a asp-controller="users" asp-action="edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="users" asp-action="delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-end mt-3">
    <a asp-controller="users" asp-action="register" class="btn btn-primary">New</a>
</div>
